# Can add additional requirements for utopia models python scripts
# These can be related to plotting and/or testing, and are installed alongside
# the registration of model tests.

dantro>=0.18
seaborn>=0.13
scikit-image>=0.23.2