# Can add additional requirements for utopia models python scripts
# These can be related to plotting and/or testing, and are installed alongside
# the registration of model tests.

dantro>=0.16

# TODO fix incompatibilities with 0.12
seaborn==0.11.2